* { margin: 0; box-sizing: border-box; }
body { min-height: 100vh; }
#app { min-height: inherit; display: flex; flex-direction: column; }
.game-wrapper { 
  background-color: palegoldenrod;
  &.detatched { display: grid; place-items: center; }
}
.game-canvas { display: block; background: #fff; }

.action-propagate { background-color: hotpink;
  &:hover { border-color: hotpink; }
}
.action-field-define-random { background-color: #FFC107;
  &:hover { border-color: #FFC107; }
}
.action-field-clear { border-color: grey;
  &:hover { border-color: inherit; background-color: lightgrey; }
}
