* { margin: 0; box-sizing: border-box; }
body { width: 100%; min-height: 100vh; background-color: white; }
#app { min-height: inherit; display: grid; place-items: center;  }
canvas { border: 1px solid red; }
/* #app { min-height: inherit; display: flex; flex-direction: column; } */
